/********************************************** Very small mobile device (up to 480px) *********************************************/
@media(max-width: 482px) {

    /* Gallery */
    .main-gallery {
        padding: unset;
    }

    .main-gallery>h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .sub-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        padding: 0 30px;
    }

    .sub-gallery>div>img {
        height: auto;
        width: 100%;
        border: 1px solid rgb(114, 114, 114);
        border-radius: 5px;
    }

    /* Grid Gallery */
    .sub-gallery>div:nth-child(1) {
        grid-area: unset;
    }

    .sub-gallery>div:nth-child(2) {
        grid-area: unset;
    }

    .sub-gallery>div:nth-child(3) {
        grid-area: unset;
        margin-top: 0;
    }


    .sub-gallery>div:nth-child(4) {
        grid-area: unset;
    }

    .sub-gallery>div:nth-child(5) {
        grid-area: unset;
        margin-top: 0;
    }

    /* Discount */
    .discount {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding: 50px 30px;
        line-height: 1.5;
        font-size: 1.1em;
        background-color: rgba(243, 243, 243, 0.863);
        margin-bottom: 100px;

    }

    .discount>img {
        width: 100%;
        border-bottom: 1px solid rgba(1, 0, 0, 0.244);
        padding-bottom: 60px;
        padding-top: 40px;
        border-right: none;
        padding-right: 0;
    }

    .discount>div>p {
        margin-bottom: 30px;
    }

    .discount>div>h1 {
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3em;
    }

    .discount>div>button {
        background-color: rgb(255, 140, 0);
        border: none;
        padding: 10px;
        color: white;
        border-radius: 8px;
        font-size: 1.2em;
    }


    /* We Help You */
    .images-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 40px;
    }

    .images>div:nth-child(1)>img {
        width: 200px;
        display: none;
    }

    .images>div:nth-child(2)>img {
        width: 300px;
        margin-left: 30px;
        margin-top: 50px;
        border: 5px solid white;
        display: none;
    }

    .images>div:nth-child(3)>img {
        width: 100%;
        margin-top: 50px;
        border: 5px solid white;
    }

    .images>div:nth-child(4)>img {
        display: none;
    }


    /* grid */
    .images {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
    }

    .images>.item4 {
        grid-area: unset;
        margin-top: 0;
        margin-left: 0;
        border: 5px solid white;
    }

    .wehelpyou>button {
        font-size: 1.2em
    }


    /* Drei Products */
    .main-drei-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0 35px;
        margin-bottom: 100px;
    }

    .drei-product {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        line-height: 1.5;
    }

    .drei-product>div>p {
        color: gray;
        font-size: 1.2em;
    }

    .drei-product>div>button {
        font-size: 1.2em;
    }

    .drei-product>div>h4 {
        margin-bottom: 10px;
        font-size: 1.2em;
    }


    /* Mini Footer */
    .main-footer {
        position: relative;
        margin-bottom: 0;
    }

    .main-footer>div>img {
        width: 100%;
    }

    .main-footer>.img-footer {
        position: relative;
    }

    .main-footer>.img-footer::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.345);
        top: 0;
        inset: 0;
        z-index: 1;
    }

    .main-footer>.img-footer>img {
        display: block;
        z-index: 2;
    }

    .info-footer {
        position: absolute;
        top: 0;
        color: white;
        z-index: 3;
        text-align: center;
        padding: 30px;

    }

    .info-footer>h2 {
        font-size: 1.2em;
        margin-top: 0;
        line-height: 1.5;
        margin-bottom: 18px;
        padding: 0;
    }

    .info-footer>button {
        border: none;
        background-color: rgb(255, 140, 0);
        padding: 10px 30px;
        color: white;
        border-radius: 100px;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.2em;
    }


    /* Footer */
    .mainfoo {
        padding: 100px 30px;
        padding-bottom: 5px;
        background-color: rgba(236, 236, 236, 0.767);
        font-size: 1.1em;
    }

    .subfoo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .subfoo>div {
        font-size: 1.1em;
    }

    /* Footer> /* Social Media */
    .main-socialmedia {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 100px;
        line-height: 1.5;
        font-size: 1.1em;
    }

    .main-socialmedia>div:nth-child(2) {
        margin-bottom: 30px;
        font-size: 1.2em;
    }

    .main-socialmedia>div:nth-child(1) {
        width: 100%;
    }

}


/* _______________________________________________ */
@media(min-width: 482px) and (max-width: 768px) {

    /* Gallery */
    .main-gallery {
        padding: unset;
    }

    .main-gallery>h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .sub-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
        padding: 0 30px;
    }

    .sub-gallery>div>img {
        height: auto;
        width: 100%;
        /* border: 1px solid rgb(114, 114, 114); */
        border-radius: 5px;
    }

    /* Grid Gallery */
    .sub-gallery>div:nth-child(1) {
        grid-area: unset;
        display: none;
    }

    .sub-gallery>div:nth-child(2) {
        grid-area: unset;
    }

    .sub-gallery>div:nth-child(3) {
        grid-area: unset;
        margin-top: 0;
    }


    .sub-gallery>div:nth-child(4) {
        grid-area: unset;
    }

    .sub-gallery>div:nth-child(5) {
        grid-area: unset;
        margin-top: 0;
    }

    /* Discount */
    .discount {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding: 50px 30px;
        line-height: 1.5;
        font-size: 1.1em;
        background-color: rgba(243, 243, 243, 0.863);
        margin-bottom: 100px;

    }

    .discount>img {
        width: 100%;
        border-bottom: 1px solid rgba(1, 0, 0, 0.244);
        padding-bottom: 60px;
        padding-top: 40px;
        border-right: none;
        padding-right: 0;
    }

    .discount>div>p {
        margin-bottom: 30px;
    }

    .discount>div>h1 {
        color: rgb(0, 0, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3em;
    }

    .discount>div>button {
        background-color: rgb(255, 140, 0);
        border: none;
        padding: 10px;
        color: white;
        border-radius: 8px;
        font-size: 1.2em;
    }

    /* Drei Products */
    .main-drei-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0 35px;
        margin-bottom: 100px;

    }

    .drei-product>div>p {
        color: gray;
        font-size: 1.2em;
    }

    .drei-product>div>button {
        font-size: 1.2em;
    }

    .drei-product>div>h4 {
        margin-bottom: 10px;
        font-size: 1.2em;
    }

    /* Mini Footer */
    .main-footer {
        position: relative;
        margin-bottom: 0;
    }

    .main-footer>div>img {
        width: 100%;
    }

    .main-footer>.img-footer {
        position: relative;
    }

    .main-footer>.img-footer::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.345);
        top: 0;
        inset: 0;
        z-index: 1;
    }

    .main-footer>.img-footer>img {
        display: block;
        z-index: 2;
    }

    .info-footer {
        position: absolute;
        top: 0;
        color: white;
        z-index: 3;
        text-align: center;
        padding: 30px;

    }

    .info-footer>h2 {
        font-size: 1.5em;
        margin-top: 0;
        line-height: 1.5;
        margin-bottom: 18px;
        padding: 0 80px;
    }

    .info-footer>button {
        border: none;
        background-color: rgb(255, 140, 0);
        padding: 10px 30px;
        color: white;
        border-radius: 100px;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.2em;
    }

    /* Footer */
    .mainfoo {
        padding: 100px 30px;
        padding-bottom: 5px;
        background-color: rgba(236, 236, 236, 0.767);
        font-size: 1.1em;
    }

    .subfoo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .subfoo>div {
        font-size: 1.1em;
    }

    /* Footer> /* Social Media */
    .main-socialmedia {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 100px;
        line-height: 1.5;
        font-size: 1.1em;
    }

    .main-socialmedia>div:nth-child(2) {
        margin-bottom: 30px;
        font-size: 1.2em;
    }

    .main-socialmedia>div:nth-child(1) {
        width: 100%;
    }

}

@media(min-width: 768px) and (max-width: 1050px) {

    /* Drei Products */
    .main-drei-products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 30px;
        padding: 0 35px;
        margin-bottom: 100px;

    }

    .drei-product>div>p {
        color: gray;
        font-size: 1.2em;
    }

    .drei-product>div>button {
        font-size: 1.2em;
    }

    .drei-product>div>h4 {
        margin-bottom: 10px;
        font-size: 1.2em;
    }
}

/* _________________________________ */
@media(min-width: 482px) and (max-width: 1050px) {

    /* We Help You */
    .images-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 0 40px;
    }

    .images>div:nth-child(1)>img {
        width: 200px;
        display: none;
    }

    .images>div:nth-child(2)>img {
        width: 300px;
        margin-left: 30px;
        margin-top: 50px;
        border: 5px solid white;
        display: none;
    }

    .images>div:nth-child(3)>img {
        width: 100%;
        margin-top: 50px;
        border: 5px solid white;
        /* display: none; */
    }

    .images>div:nth-child(4)>img {
        display: none;
    }


    /* grid */
    .images {
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 100%;
    }

    .images>.item4 {
        grid-area: unset;
        margin-top: 0;
        margin-left: 0;
        border: 5px solid white;
    }

    .wehelpyou>button {
        font-size: 1.2em
    }

}


/* ______________________________________________________________ */

@media (max-width: 550px) {

    /* Our Product */
    .subourproduct {
        display: grid;
        grid-template-columns: 1fr;
    }

    .prodOne>img {
        width: 100%;
    }
}

@media (min-width: 551px) and (max-width:655px) {

    /* Our Product */
    .subourproduct {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}


/* ______________________________________________________________ */

@media (max-width: 655px) {

    /* header */
    .main-header {
        font-size: 1.1em;
        padding: 0;
        position: sticky;
        top: 0;
    }

    .sub-header {
        justify-content: space-between;
        width: 100%;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 30px;
        height: 21px;
        position: absolute;
        right: 30px;
        top: 20px;
        z-index: 100;
    }

    .hamburger span {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 3px;
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -300%;
        padding: 130px 20px 10px 10px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        z-index: 99;
        width: 70%;
        max-width: 380px;
        background-color: rgb(255, 140, 0);
        height: 100%;
        overflow-y: scroll;
        height: 900px;
        overflow-y: scroll;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    nav ul li {
        border-right: none;
    }

    nav ul li a {
        color: white;
        border-bottom: 1px solid white;
        display: block;
    }


    .menu-toggle:checked~.menu {
        right: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.409);
        width: 100%;
        display: none;
        transition: all 0.5s ease;
        z-index: 98;
    }

    .menu-toggle:checked~.overlay {
        display: block;
        height: 100%;
    }

    .catlist {
        left: 0;
        padding-bottom: 50px;
    }

    .dropdown:hover>.catlist {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 100px;
        overflow-y: scroll;
        height: 300px;
    }


    /* Banner */
    .main-banner {
        padding-left: 0;
        text-align: center;
        padding-bottom: 30px;
    }

    .sub-banner {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        position: relative;
    }

    .bannerdesc {
        padding: 0 30px;
    }

    .bannerdesc>div {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }

    .bannerdesc>div>button {
        font-size: 1.1em;
    }

    .bannerdesc>div>.bton {
        margin-top: 8px;
    }

    .bannerdesc>h1 {
        position: absolute;
        top: 20px;
        padding-left: 30px;
        padding-right: 20px;
        text-align: left;
        color: rgb(255, 255, 255);
        font-size: 28px;
        z-index: 3;

    }

    .bannerdesc>button {
        display: flex;
        flex-direction: column;
    }

    .img-wrapper {
        position: relative;
    }

    .sub-banner>div>img {
        width: 100%;
        z-index: 1;
        display: block;
    }

    .img-wrapper::after {
        content: "";
        position: absolute;
        background-color: rgba(16, 18, 15, 0.374);
        z-index: 2;
        width: 100%;
        inset: 0;

    }

    /*  Why We Are Best In Our Town */
    .zweiteSection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 20px;
        line-height: 1.5;
        background-color: rgb(255, 140, 0);
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1.2em;
    }

    .main-sthule {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .beschreiben>.pfeil {
        display: none;
    }

    .main-sthule>.sthule {
        border-bottom: 1px solid rgba(240, 240, 240, 0.523);
        padding: 30px 30px;
        padding-bottom: 60px;
    }

    .main-sthule>.pfeil {
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        display: block;
        width: 50px;
    }

    .main-sthule>.pfeil>p {
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 100px;
    }

}



/********************************************** Medium mobile device (481px to 767px) **************************************/
@media (min-width: 655px) and (max-width: 768px) {

    /* header */
    .main-header {
        font-size: 1.1em;
        padding: 0;
        position: sticky;
        top: 0;
    }

    .sub-header {
        justify-content: space-between;

    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 30px;
        height: 21px;
        position: absolute;
        right: 30px;
        top: 20px;
        z-index: 100;
    }

    .hamburger span {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 3px;
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -300%;
        padding: 130px 20px 10px 10px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        z-index: 99;
        width: 70%;
        max-width: 380px;
        background-color: rgb(255, 140, 0);
        height: 100%;
        overflow-y: scroll;
        height: 900px;
        overflow-y: scroll;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    nav ul li {
        border-right: none;
    }

    nav ul li a {
        color: white;
        border-bottom: 1px solid white;
        display: block;
    }


    .menu-toggle:checked~.menu {
        right: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.409);
        width: 100%;
        display: none;
        transition: all 0.5s ease;
        z-index: 98;
    }

    .menu-toggle:checked~.overlay {
        display: block;
        height: 100%;
    }

    .catlist {
        left: 0;
        padding-bottom: 50px;
    }

    .dropdown:hover>.catlist {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 100px;
        overflow-y: scroll;
        height: 300px;
    }


    /* Banner */
    .main-banner {
        padding-left: 0;
        position: relative;
    }


    .bannerdesc {
        /* padding: 0 30px; */
        position: absolute;
        top: 40px;
        padding-left: 30px;
        padding-right: 60px;
        text-align: left;
        z-index: 3;
        font-size: 1.1em;
        color: white;
    }


    .bannerdesc>div>button {
        font-size: 1.1em;
        color: white;
    }

    .img-wrapper {
        position: relative;
    }

    .sub-banner>div>img {
        width: 100%;
        z-index: 1;
        display: block;
    }

    .img-wrapper::after {
        content: "";
        position: absolute;
        background-color: rgba(16, 18, 15, 0.374);
        z-index: 2;
        width: 100%;
        inset: 0;

    }

    /*  Why We Are Best In Our Town */
    .zweiteSection {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-sthule {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: 1.2em;
    }

    .beschreiben>.pfeil {
        display: none;
    }

    .main-sthule>.pfeil {
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        display: block;
        margin-left: 130px;
        width: 50px;
    }

    .main-sthule>.pfeil>p {
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 100px;
    }

    /* our Product */
    .subourproduct {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

}