/* greeting */
body {
    position: relative;
}

.fade-out {
    transition: opacity 2s ease;
    opacity: 0;
}

#greetingSection {
    position: absolute;
    position: fixed;
    top: -100px;
}

#greetingSection>img {
    width: 100%;
    display: block;
    transform: scale(0.5);
    box-shadow: 10px 30px 30px 10px rgba(0, 0, 0, 0.422);
    border-radius: 30px;
}





/* Greetin Media Queries */
@media (max-width: 1140px) {
    #greetingSection {
        position: absolute;
        position: fixed;

        top: 48px;
        z-index: 5000;
    }

    #greetingSection>img {
        transform: scale(0.8);
    }
}