/**************************************************** Tablet (768px bis 1024px) *****************************************************/
@media (min-width: 768px) and (max-width: 1180px) {

    /* Banner */
    .main-banner {
        padding-left: 0;
        position: relative;
    }

    .bannerdesc {
        /* padding: 0 30px; */
        position: absolute;
        top: 60px;
        padding-left: 30px;
        padding-right: 200px;
        text-align: left;
        z-index: 3;
        font-size: 1.1em;
    }


    .bannerdesc>div>button {
        font-size: 1.1em;
    }

    .img-wrapper {
        position: relative;
    }

    .sub-banner>div>img {
        width: 100%;
        z-index: 1;
        display: block;
    }

    .img-wrapper::after {
        content: "";
        position: absolute;
        background-color: rgba(16, 18, 15, 0.374);
        z-index: 2;
        width: 100%;
        inset: 0;

    }

}


@media (min-width: 768px) and (max-width: 1100px) {

    body,
    html {
        width: 100%;
        overflow-x: hidden;
        margin: 0 !important;
        padding: 0 !important;
    }


    /* header */
    .sub-header {
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 30px;
        height: 21px;
        position: fixed;
        right: 30px;
        top: 20px;
        z-index: 100;
    }

    .hamburger span {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 3px;
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -300%;
        padding: 80px 20px 10px 10px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        z-index: 99;
        width: 70%;
        max-width: 380px;
        background-color: rgb(210, 151, 1);
        height: 100%;
        overflow-y: scroll;
        height: 900px;
        overflow-y: scroll;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    nav ul li {
        border-right: none;
    }

    nav ul li a {
        color: white;
        border-bottom: 1px solid white;
        display: block;
    }


    .menu-toggle:checked~.menu {
        right: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.409);
        width: 100%;
        display: none;
        transition: all 0.5s ease;
        z-index: 98;
    }

    .menu-toggle:checked~.overlay {
        display: block;
        height: 100%;
    }

    .catlist {
        left: 0;
        padding-bottom: 50px;
    }

    .dropdown:hover>.catlist {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 100px;
        overflow-y: scroll;
        height: 300px;
    }


    /* Why We Are Best In Our Town */
    .zweiteSection {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 50px 100px;
        line-height: 1.5;


    }

    .main-sthule {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        font-size: 1.1em;
    }

    .beschreiben>.pfeil {
        display: none;
    }

    .main-sthule>.pfeil {
        margin: 30px 40px 0;
        text-align: center;
        font-size: 30px;
        background-color: rgb(193, 142, 0);
        width: 50px;
        color: white;
        border-radius: 100px;
        cursor: pointer;
        display: block;
        margin-left: 150px;
    }

}




@media (min-width: 768px) and (max-width: 830px) {

    /* our Product */
    .subourproduct {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}